body {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(222, 247, 255);
    font-family:Arial, Helvetica, sans-serif;
}

#value {
    
    font-weight: 600;
    font-size: 84px;
}

.btn {
    background: none;
    text-transform: uppercase;
    border: 2px solid rgb(20, 20, 20);
    color: rgb(20, 20, 20);
    font-size: 15px;
    cursor: pointer;
    margin: 10px 8px;
    padding: 5px 12px;
    border-radius: 8px;
}